mixin ui-button(text, iconTg, mods)
  -
    const baseName = 'ui-button'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-button(class=allMods)&attributes(attributes)
    .ui-button__text !{text}
    if iconTg
      .ui-button__icon
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M2.18555 7.69749C5.45297 6.16392 7.63126 5.15279 8.7204 4.6643C11.8337 3.26941 12.4799 3.02715 12.9019 3.01894C12.9947 3.01734 13.2013 3.04205 13.3361 3.1595C13.4482 3.25856 13.4797 3.39252 13.4955 3.48658C13.5095 3.58054 13.5287 3.79469 13.513 3.96186C13.3449 5.87128 12.6147 10.5048 12.2435 12.6435C12.0876 13.5484 11.7777 13.8518 11.4783 13.8814C10.8269 13.9459 10.3331 13.418 9.70273 12.9729C8.7169 12.2761 8.16007 11.8426 7.20225 11.1627C6.0956 10.3771 6.81352 9.94521 7.4439 9.23955C7.60849 9.05484 10.4767 6.24448 10.531 5.98958C10.538 5.95769 10.545 5.83882 10.4784 5.77618C10.4136 5.71335 10.3173 5.73486 10.2473 5.75184C10.1475 5.77599 8.57331 6.89825 5.51951 9.11842C5.073 9.44936 4.66851 9.61068 4.3043 9.60219C3.90506 9.59295 3.13461 9.35842 2.56202 9.15804C1.86161 8.9122 1.30303 8.7822 1.35206 8.36465C1.37657 8.1473 1.65499 7.92485 2.18555 7.69749Z" fill="currentColor"/>
        </svg>
    block
