*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}
html {
  box-sizing: border-box;
  font-size: get-vw($fs, calc(320px / 100));
  line-height: 1;
}
body {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
}

// defaults
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  font-family: $font;
  color: $black;
  overflow: hidden;
  &--dark {
    color: #fff;
    background-color: #030a12;
  }
  &--bg-img {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  img,
  svg {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    image-rendering: -webkit-optimize-contrast;
  }
}
.main {
  flex: 1 0;
  padding: rem(16px) 0 rem(20px);
}
.inner {
  padding: 0 rem(16px);
}
