extends layouts/layout

block variables
  -const pageTitle ='Index'
  -const wrapperMods = 'wrapper--dark'
  -const headerMods = 'header--light'

  -
    const dataAbout ={
      img: 'img/about_img4.png',
      imgMods: 'about__img--w-xs about__img--br50',
    }

block content
  main.main
    .inner
      +about(dataAbout)
